Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
m4/
stamp-h1
#
.deps
*.o
*.s
*.swp
.libs/
*.la
*.lo
#
fix-gnustack
paxctl-ng
bad-gnustack
daemon*
dummy
revdepbin
#
scripts/build
misc/__pycache__
#
misc/change-interp/bash
misc/change-interp/change-interp
misc/elf-manipulate/clear-dt-path
misc/elf-manipulate/parse-elf
misc/elf-manipulate/print-sections
misc/elf-manipulate/remove-ptpax
