Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
m4/
stamp-h1
#
.deps
*.o
*.s
*.swp
.libs/
*.la
*.lo
#
paxctl-ng
bad-gnustack
daemon*
dummy
revdepbin
#
scripts/build
#
misc/fix-gnustack/fix-gnustack
#
poc/change-interp/change-interp
poc/elf-manipulate/clear-dt-path
poc/elf-manipulate/parse-elf
poc/elf-manipulate/print-sections
poc/elf-manipulate/remove-ptpax
